div#page{	
  margin:0 auto;
  width:1024px;
  height:2070px;
	}
div#header{
  width:1024px; height:300px;	
  background-image:url(../../images/index/headerBg.jpg);
  background-repeat:no-repeat;
	}
	div#header a{
	  display:block;
	  margin-left:370px;	
	  width:329px; height:300px;
	  background-image:url(../../images/index/logo.gif);	
	  background-repeat:no-repeat;
		}
div#navigation{
  padding-right:57px; padding-left:57px;	
  width:910px; height:50px;
  background-color:#1d100b;	  
	}
	div#navigation a{
	  display:block;
	  float:left;
	  width:130px; height:50px;
	  text-decoration:none;
	  text-align:center;	
		}
form#searchForm{
  width:1024px; height:60px;
  background-image:url(../../images/index/searchBg.gif);
  background-repeat:no-repeat;	
	}
	input#searchInput{	
	  margin:24px 0 0 655px;
	  width:150px; height:22px;
	  background-color:inherit;
	  color:#424242;
		}
	input#searchBtn{
	  margin-left:75px;	
	  width:56px; height:40px;
	  background-image:url(../../images/index/searchBtn.gif);
	  background-repeat:no-repeat;
	  cursor:pointer;
	  opacity:0.95;
	  font-family:"仿宋", "微软雅黑";
	  color:#ffde89;
      font-size:15px;	
		}
div#mainBox1{
  padding:10px 34px 0 30px;	
  width:960px; height:930px;
  background-image:url(../../images/index/mainBox1.gif);
  background-repeat:no-repeat;	
	}
	div#main1_left{float:left; width:300px; height:930px;}
		div#setPos1{width:300px; height:440px;}
			.titleBox{
			  position:absolute;
	  		  padding-left:25px;
			  background-color:#1d100b;	
				}
		    div#rcm_Title{width:275px; height:40px;}
			.contentBox{
			  position:absolute;	
	  	  	  margin-top:40px;
			  background-color:#ffe8ad;
	  	  	  opacity:0.1;
	  	  	  -moz-opacity:0.1;
	  	  	  -o-opacity:0.1;
	  	  	  filter:alpha(opacity=10);        /*IE兼容*/	
				}
			div#rcmBoxOpacity{width:300px; height:400px;}
	    	.rcmAuthor{	
			  display:block;
		  	  position:absolute;
			  width:300px; height:38px;
		  	  text-decoration:none;
		  	  color:#FFF;	
			  border-bottom:2px solid #1d100b;
			  line-height:38px;
			  text-align:center;
			  font-family:"微软雅黑";
			  font-size:17px;
			  letter-spacing:2px;	
			    }
			a#rcmAuthor1{margin-top:40px;}   a#rcmAuthor2{margin-top:80px;}    a#rcmAuthor3{margin-top:120px;}
			a#rcmAuthor4{margin-top:160px;}  a#rcmAuthor5{margin-top:200px;}   a#rcmAuthor6{margin-top:240px;}
			a#rcmAuthor7{margin-top:280px;}  a#rcmAuthor8{margin-top:320px;}   a#rcmAuthor9{margin-top:360px;}
			a#rcmAuthor10{	
			  margin-top:400px;
			  display:block;
		  	  position:absolute;
			  width:300px; height:40px;
		  	  text-decoration:none;
		  	  color:#FFF;	
			  line-height:40px;
			  text-align:center;
			  font-family:"微软雅黑";
			  font-size:17px;
			  letter-spacing:2px;
			  }
		div#setPos2{margin-top:20px; width:300px; height:460px;}
		    div#friLink_Title{width:275px; height:40px;}
			div#friLinkBoxOpacity{width:300px; height:420px;}
			div#setPos2 ul{
			  position:absolute;
			  margin:50px 0 0 10px;
			  width:280px; height:410px;	
				}
				div#setPos2 ul li{
					display:block;
					width:280px; height:68px;}
				div#setPos2 ul li a{
					display:block;
					text-decoration:none;
					width:280px; height:60px;
					background-repeat:no-repeat;}
				a#friLink1{background-image:url(../../images/index/friLinkImg.gif);}
				a#friLink2{background-image:url(../../images/index/friLinkImg.gif);}
				a#friLink3{background-image:url(../../images/index/friLinkImg.gif);}
				a#friLink4{background-image:url(../../images/index/friLinkImg.gif);}
				a#friLink5{background-image:url(../../images/index/friLinkImg.gif);}
				a#friLink6{background-image:url(../../images/index/friLinkImg.gif);}
	div#setPos3{float:left; margin-left:10px; width:650px; height:920px;}	
		div#newWork_Title{width:625px;height:40px;}
		div#main1_rightOpacity{width:650px; height:880px;}
		div#workBox{
		  position:absolute;
		  margin:50px 0 0 10px;	
		  width:630px; height:870px;
			}
			div.newWork{
			  float:left;
			  width:157px; height:217px;	
				}
			div.newWork a{
			  display:block;
			  width:143px; height:126px;
			  border:2px solid #ffde89;
			  background-repeat:no-repeat;	
				}
			a#NW01_img{background-image:url(../../images/index/newWork_img.gif);}
			div.newWork ul{list-style:none;	  margin:3px 0 0 20px;}
			div.newWork ul li{line-height:15px;}


			
	