/*************************************************mainBox2******************************************************/	
div#mainBox2{
  padding:0 34px 0 30px;
  width:960px; height:520px;
  background-image:url(../../images/index/mainBox2Bg.gif);	
  background-repeat:no-repeat;
	}
	div#setPos4{float:left;	 width:300px; height:300px;}	
		div#abtMe_Title{width:275px; height:40px;}
		div#abtMeOpacity{
		  width:300px; height:260px;	
			}	
		div#setPos4 ul{
		  position:absolute;
		  margin:45px 0 0 15px;	
		  width:290px;	
		  font-family:"仿宋","微软雅黑";
		  font-size:16px;
		  color:#FFF;
			}
			div#setPos4 ul li {line-height:40px;}
	div#setPos5{
	  float:left;
	  margin-left:10px;
	  width:320px; height:300px;	
		}
		div#handWriteInfo_Title{width:295px; height:40px;}
		div#handWriteInfoOpacity{width:320px; height:260px;}
		div#setPos5 ul{
		  position:absolute;
		  margin:45px 0 0 15px;	
		  width:290px;	
		  font-family:"仿宋","微软雅黑";
		  font-size:16px;
		  color:#FFF;	
			}
			div#setPos5 ul li{line-height:40px; letter-spacing:-1px;}
			div#setPos5 ul li a{text-decoration:none; color:#FFF;}
	div#setPos6{
	  float:left;
	  margin-left:10px;
	  width:320px; height:300px;	
		}
		div#promise_Title{width:295px; height:40px;}
		div#promiseOpacity{width:320px; height:260px;}
		p#promise_Content{
		  position:absolute;
		  margin:45px 0 0 15px;	
		  width:290px;
		  font-family:"仿宋","微软雅黑";
		  font-size:16px;
		  color:#FFF;
		  line-height:40px; letter-spacing:-1px;
			}
	div#setPos7{
	  position:relative;	
	  float:left;
	  margin-top:10px;
	  width:960px; height:190px;	
		}
		div#rcm2_Title{width:935px; height:40px;}
		div#rcm2Opacity{width:960px; height:150px;}
		img#leftBtn{
		  position:absolute;
		  top:40px;	
		  width:50px; height:150px;
		  cursor:pointer;
		    }
		img#rightBtn{
		  position:absolute;
		  top:40px; right:0px;
		  width:50px; height:150px;
		  cursor:pointer;	
			}
		div#imgShowBox{
		  position:absolute;
		  top:50px; left:100px;
		  overflow:hidden;
		  width:760px;	height:130px;
		  /*background-color:#181818;*/
			}
			ul#imgShowUl{
			  position:absolute;	
			  left:-3040px;
			  width:3800px; height:130px;	
				}
			ul#imgShowUl li{
			  float:left;	
			  width:760px; height:130px;	
				}
			ul#imgShowUl li a{
			  display:block;
			  float:left;
			  text-decoration:none;
			  width:120px; height:130px;	
				}
			a.mgLeft40{margin-left:40px;}
			ul#imgShowUl li a img{
			  width:116px; height:106px;
			  border:2px solid #ad945e;	
				}
			ul#imgShowUl li a p{
			  margin-top:3px;	
			  font-family:"仿宋", "微软雅黑";
	          color:#ad945e;	
			  text-align:center;
			  font-size:16px;				 	
				}

div#copyrightBox{
  padding-top:40px;
  width:1024px; height:160px;
  text-align:center;
  background-image:url(../../images/index/copyrightBg.gif);
  background-repeat:no-repeat;	
	}

