div#navigation a{
  line-height:50px;
  font-family:"楷体","微软雅黑";
  color:#ffde89;
  font-size:19px;	
  letter-spacing:1px;
	}
.boxTitle{
  line-height:40px;
  font-family:"微软雅黑";
  color:#ffde89;
  font-size:17px;	
  letter-spacing:6px;	
	}
div.newWork ul{
  font-family:"微软雅黑";
  font-size:14px;	
	}
span.NW_property{
  color:#FFF;	
	}
span.goldFont{color:#fcdb87;}
span.whiteFont{color:#FFF;}
span.redFont{color:red;}
div#copyrightBox{
  font-family:"微软雅黑";
  color:#969696;
  font-size:14px;	
	}
	div#copyrightBox p{line-height:30px;}
	div#copyrightBox p a{
	  text-decoration:none;
	  color:#969696;	
		}
